<!DOCTYPE html>
<html>
<head>
  <title>Hotel Test Client</title>
</head>
<body>
  <div id="app">
    <h1>Hotel Test Client</h1>

    <h2>Sign Up</h2>
    <input v-model="signupUsername" placeholder="username">
    <input v-model="signupPassword" placeholder="password" type="password">
    <button v-on:click="signup">Sign Up</button>

    <h2>Login</h2>
    <input v-model="loginUsername" placeholder="username">
    <input v-model="loginPassword" placeholder="password" type="password">
    <button v-on:click="login">Login</button>
    <button v-on:click="logout">Logout</button>

    <h2>Login Status</h2>
    <button v-on:click="checkLoginStatus">Check Login Status</button>

    <h2>Users</h2>
    <button v-on:click="loadUsers">Load Users</button>

    <h2>Update User</h2>
    <input v-model="updateUserId" placeholder="User ID" type="number">
    <input v-model="updateUsername" placeholder="new username">
    <input v-model="updatePassword" placeholder="new password" type="password">
    <button v-on:click="updateUser">Update User</button>

    <h2>Update Balance</h2>
    <input v-model="balanceUserId" placeholder="User ID" type="number">
    <input v-model="newBalance" placeholder="New balance" type="number">
    <button v-on:click="updateBalance">Update Balance</button>

    <h2>Delete User</h2>
    <input v-model="deleteUserId" placeholder="User ID" type="number">
    <button v-on:click="deleteUser">Delete User</button>

    <h2>Update Profile</h2>
    <input v-model="profileEmail" placeholder="Email">
    <button v-on:click="updateProfile">Update Profile</button>
   
    <h3>Upload Profile Photo</h3>
    <input type="file" v-on:change="selectProfilePhoto">
    <button v-on:click="uploadProfilePhoto">Upload Profile Photo</button>

    <h2>Rooms</h2>

    <button v-on:click="loadRooms">Load Rooms</button>

    <h3>Add Room</h3>
    <input v-model="roomName" placeholder="Room name">
    <input v-model="roomNumber" placeholder="Room number">
    <input v-model="numberOfRooms" placeholder="Number of rooms" type="number">
    <input v-model="capacity" placeholder="Capacity" type="number">
    <input v-model="price" placeholder="Price" type="number">
    <input v-model="description" placeholder="Description">
    <button v-on:click="addRoom">Add Room</button>

    <h3>Update Room</h3>
    <input v-model="updateRoomId" placeholder="Room ID" type="number">
    <input v-model="updateRoomName" placeholder="New room name">
    <input v-model="updateRoomPrice" placeholder="New price" type="number">
    <input v-model="updateRoomStatus" placeholder="available/reserved/maintenance">
    <button v-on:click="updateRoom">Update Room</button>

    <h3>Delete Room</h3>
    <input v-model="deleteRoomId" placeholder="Room ID" type="number">
    <button v-on:click="deleteRoom">Delete Room</button>

    <h3>Add Room Image</h3>
<input v-model="imageRoomId" placeholder="Room ID" type="number">
<input type="file" v-on:change="selectRoomImage">
<button v-on:click="uploadRoomImage">Upload Room Image</button>

    <h2>Reservations</h2>

    <button v-on:click="loadReservations">Load Reservations</button>
    <button v-on:click="loadReservationDetails">Load Reservation Details</button>

    <h3>Create Reservation</h3>
<input v-model="reservationRoomId" v-on:change="saveSelections" placeholder="Room ID" type="number"> //client, second
<input v-model="reservationCheckIn" v-on:change="saveSelections" type="date">
<input v-model="reservationCheckOut" v-on:change="saveSelections" type="date">
    <button v-on:click="createReservation">Create Reservation</button>

    <h3>Cancel Reservation</h3>
    <input v-model="cancelReservationId" placeholder="Reservation ID" type="number">
    <button v-on:click="cancelReservation">Cancel Reservation</button>

    <h2>Balance Requests</h2>

    <h3>Request Balance</h3>
    <input v-model="balanceRequestAmount" placeholder="Amount" type="number">
    <button v-on:click="createBalanceRequest">Request Balance</button>

    <h3>Admin Balance Requests</h3>
    <button v-on:click="loadBalanceRequests">Load Balance Requests</button>

    <input v-model="balanceRequestId" placeholder="Request ID" type="number">
    <button v-on:click="approveBalanceRequest">Approve Request</button>
    <button v-on:click="rejectBalanceRequest">Reject Request</button>

    <h3>Cancel Reservation</h3>
<input v-model="cancelReservationId" placeholder="Reservation ID" type="number">

<label>
  <input type="checkbox" v-model="useRealCurrentDate">
  Use real current date/time
</label>

<br>

<input
  v-if="!useRealCurrentDate"
  v-model="customCancelDate"
  type="datetime-local"
>

<button v-on:click="cancelReservation">Cancel Reservation</button>

       <h2>Output</h2>
      <pre>{{ output }}</pre>
    
  </div>

  <script src="libs/vue.js"></script>
<script src="libs/axios.js"></script>

<script src="js/config.js"></script>
<script src="js/clientMethods.js"></script>
<script src="js/userMethods.js"></script>
<script src="js/roomMethods.js"></script>
<script src="js/reservationMethods.js"></script>
<script src="js/balanceRequestMethods.js"></script>

<script src="js/app.js"></script>
</body>
</html>